.welcome{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin-top: 80px;
}
.welcome_text {
    text-align:center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
.button_a {
    position: relative;
    margin: 0 -200px 0 240px;
    border: 1px solid black;
    background-color:white;
    border-radius: 20px;
    font-size: 30px;
    padding: 2px 10px 2px 10px;
}
.button_b {
    position: relative;
    right: 70px;
    border : 1px solid black;
    border-radius: 20px;
    background-color: rgb(63, 60, 60);
    color:white;
    font-size: 30px;
    padding: 2px 7px 2px 7px;
}
a.button_b1 {
    text-decoration: none;
    color:white;
}
a.button_a1 {
    text-decoration:none;
    color:black;
}